* {
    margin: 0;
    color: rgb(203, 194, 194);
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: .12vw;
    font-weight: 100;
}

a {
    text-decoration: none;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2.5vw;
    /* border: solid 2px yellowgreen; */
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    background-color: black;
    border-bottom: 1px solid rgb(41, 38, 38);
}

.name {
    font-style: bold;
    font-size: 3vw;
    text-align: Center;


}

.more {
    visibility: hidden;
}

.details {
    font-size: 1.6vw;
    display: flex;
    /* justify-content: space-evenly; */
    gap: 2vw;
    align-items: center;
}


.social {
    display: flex;
    /* justify-content: space-evenly; */
    gap: 2vw;
    align-items: center;
    padding-left: 0.6vw;
    font-size: 1.6vw;
}

/* Main-1 */

.main-1 {
    display: flex;
    flex-flow: column wrap;
    gap: 3vw;
    /* border: solid 2px blue; */
    /* margin-top:  11.7vw; */
    position: ;
    padding-bottom: 2vw;
    background-image: url(./pizza.prrr.jpg);
    background-size: cover;
    background-color: black;
    /* height: auto; */


}

.heading {
    font-size: 9vw;
    margin-left: 6vw;
    padding-top: 26vw;
}

.details1 {
    border-top: solid 2px red;
    padding-top: 3vw;
    margin-left: 6vw;
    width: 45vw;
}

/* padding */
.padding {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;

    /* display: grid; */
    grid-template-columns: auto;
    /* border: solid 2px red; */
}

/* Main-2 */


.main-2 {
    background-color: black;
    position: relative;
    padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: solid red 2px; */
}

.about-us {
    text-align: center;
    font-size: 2.1vw;
    border-bottom: solid 2px red;
    padding-bottom: .5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 4vw;
}

/* Main-3 */

.main-3 {
    /* border: solid 2px rgb(204, 182, 182); */
    position: relative;
    background-color: black;
    display: flex;
    justify-content: space-between;
    gap: 4vw;
    padding-top: 4vw;
}

.details2 {

    /* border-top: solid red 2px; */
    padding-top: 1 vw;

}

.image1 {
    width: 50vw;
    height: 50vh;
}

/* Main-4 */

.main-4 {
    background-color: black;
    position: relative;
    padding: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu {
    text-align: center;
    font-size: 2.1vw;
    border-bottom: solid 2px red;
    padding-bottom: .5vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

/* Main-5 */

.main-5 {
    /* border: solid 2px rgb(5, 69, 42); */
    position: relative;
    background-color: black;
    width: auto;
}

.details3 {
    padding-bottom: 2vw;
}

/* Main-6 */

.main-6 {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    width: auto;
    background-color: black;
    /* border: solid 2px yellow; */
    height: auto;
    padding-left: 0;
    padding-right: 0;
    gap: 3vw;
}

img {
    width: 13vw;
    height: 9vw;
}

.card {
    display: flex;
    gap: 1vw;
}

.first {
    padding-bottom: 1vw;
    color: rgb(189, 189, 14);
    font-size: 1.8vw;
}

.para {
    font-size: 1.4vw;
}

/* Find Us */

.find-us {
    text-align: center;
    font-size: 2.1vw;
    display: flex;
    justify-content: center;
    padding: 5vw;
    /* border: rgb(0, 255, 89) solid 2px; */
}

.find {

    padding-bottom: 1vw;
    border-bottom: red solid 2px;
    padding-left: 3vw;
    padding-right: 3vw;
}

/* Location */

.location {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    padding-top: 3vw;
}

.left {
    display: grid;
    grid-template-columns: auto;
}

.up {
    padding-bottom: 4vw;

}

.down {
    display: grid;
    grid-template-columns: auto;
}

.loc {
    display: flex;
    gap: 0.6vw;
}

.ph {
    display: flex;
    gap: 2vw;
}

.right img {
    width: 45vw;
    height: 30vw;
}

/* bottom */

.bottom {
    display: flex;
    justify-content: space-between;

}

.left-icon img {
    width: 10vw;
    padding-top: 10vw;
}

.right-more {
    display: grid;
    grid-template-columns: auto;
    padding-top: 10vw;
}

.mail {
    display: flex;
    gap: 2vw;
}

.phone {
    display: flex;
    gap: 2vw;
}


/* Media Queries */


@media (max-width: 600px) {

    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }

    .name {
        font-size: 4vw;
        padding-bottom: 1vw;
    }

    .details {
        font-size: 1.9vw;
        padding-bottom: 1vw;
    }

    .social {
        font-size: 2vw;
    }

    .left {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* justify-content: space-evenly; */
    }

    .main-3 {
        display: grid;
        gap: 3vw;
    }

    .about-us {
        font-size: 3vw;
    }

    .main-3>div>img {
        width: 85vw;
        height: 60vw;
    }

    .menu {
        font-size: 3vw;
    }

    .main-6 {
        display: flex;
        flex-direction: column;

    }

    .find {
        font-size: 3vw;
    }

    .details3 {
        padding-bottom: 9vw;
    }

    .details4>div {
        font-size: 3vw;
    }

    .location {
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }

    .right>img {
        width: 85vw;
        height: 55vw;
    }

}